/* shared style */
main {
    /* max-width: 1140px; */
    margin: 0 auto;
}

body {
    font-family: 'Lato', sans-serif;
}

.head {
    background-color: #E554731A;
    width: 100%;
    background-repeat: no-repeat;

}

.Shop {
    width: 177px;
    height: 64px;
    border-radius: 8px;
    background-color: #E55473;
    color: #FFFFFF;
    border: 0;
    padding: 20px 43px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.head_title {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.bannerdescription {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.banner_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 240px 0px 240px;
}

.banner_img {
    width: 635px;
    height: 800px;
}

/* main css starts here */
main {
    margin: 0px 240;

}

/* section_1_our featured flower starts */
.Featured_flower {}

.tagline_featured_flower {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 178px;
}

.description_featured_flower {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 0 663px 0 663px;
}

.flowers {
    display: flex;
    padding: 48px 240px 0px 240px;
    gap: 24px;
    justify-content: center;
}

.flower_img1 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    object-fit: cover;
}

.flower_img2 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: #0597A026
}

.flower_img3 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: #477D1126
}

.imge_flo1 {
    width: 310px;
    height: 428px;
    padding: 110px 78px 0px 76px;
}

.text_deco {
    text-decoration: underline;
    margin-top: 32px;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/* section_1_our featured flower ends */
/* section hot sale starts */
.hot_sales {
    border-radius: 8px;
    background: #2727270D;
    margin: 195px 240px;
    padding: 86px 175px;
}

.hot_sale {
    display: flex;
    justify-content: space-around;
    text-align: center;

}

.sale_img {
    width: 88px;
    height: 88px;
}

.sales_des {
    color: rgba(39, 39, 39, 0.80);
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;

}

.sales {
    text-align: center;

}

.hot_sales2 {
    background-color: #E554730D;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    /* padding: 100px 395px 100px 429px; */
    justify-content: space-between;
    align-items: center;
}

.hot_sales2_title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}

.off {
    color: #E55473;
}

.hot_sales2_bannerdescription {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.hot_sales2_img {
    width: 318px;
    height: 420px;
}

.sign_up {
    width: 177px;
    height: 64px;
    border-radius: 8px;
    background-color: #E55473;
    color: #FFFFFF;
    border: 0;
    padding: 20px 43px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.hot_sale2_div {
    text-align: center;

}

.hot_sales2_img {
    width: 318px;
    height: 420px;
    flex-shrink: 0;
}

/* section hot sale ends */
/* section Instagram starts */

/* section Instagram ends */

/* main css ends here */
.tagline_Instagram {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 128px;
}

.description_featured_flower {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 0 663px 0 663px;
}

.insta_img1 {
    width: 342px;
    height: 396px;
}

/* slide imag here */

/* section  Get The Latest Deals starts */
.flower_bannEr{
    margin: 128px auto;
    justify-items: center;
}
/* section  Get The Latest Deals ends */
